@{
    ViewData["Title"] = "Home Page";
}
    <section>
        <div class="container">
            <div class="before-news">
                <div class="row col-12">
                    <div class="col-2">
                        Новости
                    </div>
                    <div class="col-2"></div>
                    <div class="more-news col-8 row">
                        <div class="col-4">
                            Все новости
                        </div>
                        <div class="col-1">
                            <img src="~/img/arrow-more-news.png" alt="more-news" class="arrow-more-news">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 row">
                <div class="col-1">
                    <img src="~/img/arrow-left.png" alt="arrow-left" class="arrow-left">
                </div>
                <div class="col-5 news">
                    <div class="card card-1">
                        <img src="~/img/news-1.jpg" alt="news-1">
                        <div class="new-context">
                            <h3>Открытие продаж на сезон 2022</h3>
                            <p>Дорогие гости нашего отеля и все, кто еще не успел у нас отдохнуть! Спешим сообщить
                                Вам, что Ruden Hotel открыл продажи на сезон 2022! Цены раннего бронирования
                                доступны во вкладке Номера и Цены на нашем сайте! </p>
                        </div>
                    </div>
                </div>
                <div class="col-5 news">
                    <div class="card card-2">
                        <img src="~/img/news-2.jpg" alt="news-2">
                        <div class="new-context">
                            <h3>Горящее предложение января и февраля</h3>
                            <p>Дорогие гости нашего отеля и все, кто еще не успел у нас отдохнуть! Спешим сообщить
                                Вам, что Ruden Hotel открыл продажи на сезон 2022! Цены раннего бронирования
                                доступны во вкладке Номера на нашем сайте! </p>
                        </div>
                    </div>
                </div>
                <div class="col-5 news" style='display:none'>
                    <div class="card card-2">
                        <img src="~/img/news-2.jpg" alt="news-2">
                        <div class="new-context">
                            <h3>Ruden Hotel</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut beatae nulla eos recusandae nostrum similique assumenda maiores. Cumque, minima. Mollitia ab perferendis nobis corrupti unde accusantium maxime fugit id nemo. </p>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <img src="~/img/arrow-right.png" alt="arrow-right" class="arrow-right">
                </div>
            </div>

        </div>
    </section>
    
