@{
    ViewData["Title"] = "ListRooms";
}
<section>
        <div class="container">
            <table>
                <tr>
                    <th>Номер</th>
                    <th>Класс</th>
                    <th>Бронь</th>
                    <th>В избранное</th>
                </tr>
                <tr>
                    <td class="first-column">1</td>
                    <td>Люкс</td>
                    <td>Забронировано</td>
                    <td>❤</td>
                </tr>
                <tr>
                    <td class="first-column">2</td>
                    <td>Стандарт</td>
                    <td>Свободно</td>
                    <td>❤</td>
                </tr>
                <tr>
                    <td class="first-column">3</td>
                    <td>Стандарт</td>
                    <td>Свободно</td>
                    <td>❤</td>
                </tr>
                <tr>
                    <td class="first-column">4</td>
                    <td>Полулюкс</td>
                    <td>Забронировано</td>
                    <td>❤</td>
                </tr>
            </table>
        </div>
    </section>
